<main  id="main-container" class="w-screen h-screen flex flex-col justify-center items-center ">
    <div class=" w-4/5 h-4/5  md:w-[90%] md:h-[90%]  grid grid-cols-1 grid-rows-2 md:grid-rows-1 md:grid-cols-5 items-stretch rounded-smr overflow-hidden shadow-xl/30">
        <div class="h-full md:col-span-3 md:min-h-full">
            <app-publicity></app-publicity>
        </div>

        <div class=" md:col-span-2 min-h-full">
            <app-auth ></app-auth>
        </div>
    </div>
</main>
